/*mobile-menu*/


/*---------------------customize---------------------*/
.js-mMenu .js-mMenu__show-hide-btn{
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 30px;
}
.line_menu .menu-btn{
	margin: 10px 0;
}
.js-mMenu_list ul,
.js-mMenu_list ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.js-mMenu_list ul li a{
	display: block;
	padding: 6px 5px;
}
.js-mMenu_list .js-mMenu_submenu{
	display: none;
}

/*---------------------end customize---------------------*/
.js-mMenu{
    position: fixed;
    z-index: 999999;
} 
.js-mMenu__show-hide-btn{
	display: none;
}

/*Ширина скроллбара*/
	.js-mMenu__scrBarrWidth10{ padding-right: 10px; }
	.js-mMenu__scrBarrWidth11{ padding-right: 11px; }
	.js-mMenu__scrBarrWidth12{ padding-right: 12px; }
	.js-mMenu__scrBarrWidth13{ padding-right: 13px; }
	.js-mMenu__scrBarrWidth14{ padding-right: 14px; }
	.js-mMenu__scrBarrWidth15{ padding-right: 15px; }
	.js-mMenu__scrBarrWidth16{ padding-right: 16px; }
	.js-mMenu__scrBarrWidth17{ padding-right: 17px; }
	.js-mMenu__scrBarrWidth18{ padding-right: 18px; }
	.js-mMenu__scrBarrWidth19{ padding-right: 19px; }
	.js-mMenu__scrBarrWidth20{ padding-right: 20px; }

	.js-mMenu__filter-blur{
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}

@media screen and (max-width: 2000px) {
	
	body.js-mMenu__no-scroll{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		overflow: hidden;
	}
	.js-mMenu__show-hide-btn{ display: inline-block; }
	.js-mMenu .js-mMenu_block{
		display: block;
		position: fixed;
		right: -300px;
		top: 0;
		bottom: 0;
		background: #f3eeee;
		border-left: 5px solid #33a457;
		width: 300px;
		padding: 15px;
		transition: 0.5s;
		overflow: auto;
		z-index: 99999;
	}
	.js-mMenu .js-mMenu_block.js-mMenu__showed{
		right: 0;
	}
	.js-mMenu_buttons{
		margin-bottom: 15px;
		text-align: center;
	}
	.js-mMenu_show-child{
		position: relative;
		display: inline-block;
	    vertical-align: middle;
	    width: 30px;
	    height: 30px;
	    background: #fff;
	    border: 1px solid #33a457;
	    border-radius: 5px;
	}
	.js-mMenu_parent-link{
		position: relative;
		padding-right: 40px !important;
	}
	.js-mMenu_show-child{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.js-mMenu_show-child:before{
		content: "";
	    display: block;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    margin-top: 4px;
	    border: 5px solid transparent;
	    border-top-color: green;
	}
	.js-mMenu_show-child.js-mMenu_show-child--active:before{
		margin-top: -2px;
	    border-top-color: transparent;
	    border-bottom-color: green;
	}
	.js-mMenu_overlay{
		display: none;
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 0;
		background-color: rgba(0,0,0,0.8);
	}
}
/*END mobile-menu*/